.animal-page{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 200px;
}

.animal-page > * {
    max-width: 450px;
}

.animal-page .top{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.animal-page .top .return{
    width: 30px;
    height: 30px;
    filter: invert(30%);
    background: no-repeat center / 80% url(/src/res/arrow-left.png);
}

.animal-page .top .title{
    margin: 0 auto ;
}

.animal-page .infos, .animal-page .lits-codes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: #3333 0px 0px 10px ;
}


.animal-page .image label span {
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    background:  no-repeat center/80% url(/src/res/plus.png);
}
.animal-page .image label{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.animal-page .image{
    position: relative;
    min-width: 200px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--discret) 0px 0px 10px -5px;
}

.animal-page .image .edit:hover{
    scale: 1.1;
}
.animal-page .image .edit{
    
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    filter: invert(40%);
    border-radius: 50%;
    background: no-repeat center/80% url(/src/res/write.png), #0002;    
}

.animal-page label{
    width: 100%;
}
.animal-page label .icon{
    filter: invert(40%);
    background: no-repeat center/80% url(/src/res/write.png);
}

.animal-page .code:hover{
    scale: 1.04;
}
.animal-page .code{
    margin: 10px;
}


.animal-page .chex-box{
    display: flex;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid var(--discret);
    overflow: hidden;
}

.animal-page .chex-box > div{
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--discret) 0px 0px 10px -5px inset;
}


.animal-page .chex-box div.active{
    box-shadow: none;
    color: var(--impact-color);
    background: rgba(var(--impact-var), 0.7);
    box-shadow: var(--discret-color) 0px 0px 4px -2px inset;
}

.animal-page .btns{
    width: 100%;
    display: flex;
    margin: 50px 0;

    min-height: 40px;
    justify-content: space-evenly;
}

.animal-page .btns > div:hover{
    opacity: 0.8;
}
.animal-page .btns > div{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    color: var(--discret-color);
    background: rgba(var(--discret-var),0.6); 
    cursor: pointer;
}

.animal-page .btns > div span{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.animal-page .btns > div.cancel span {
    filter: var(--discret-color-filter);
    background: no-repeat center/70% url(/src/res/arrow-left.png);
}

.animal-page .btns > div.is-new.ok{
    color: var(--success-color);
    background: rgba(var(--success-var),0.8);
}

.animal-page .btns > div.is-new.ok span {
    filter: var(--error-color-filter);
    background: no-repeat center/50% url(/src/res/mark.png);
}

.animal-page .btns > div.is-edit{
    color: var(--error-color);
    background: rgba(var(--error-var),0.8);
}

.animal-page .btns > div.is-edit span {
    filter: var(--error-color-filter);
    margin-right: 10px;
    background: no-repeat center/70% url(/src/res/trash-2.png);
}

.animal-page .loading span{
    background: no-repeat center/70% url(/src/res/loading.gif);
}

.animal-page .lits-codes .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animal-page .lits-codes .title .add-new:hover{
    opacity: 0.8;
}

.animal-page .lits-codes .title .add-new{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--success-color);
    background: var(--success);
}

.animal-page .lits-codes .title .add-new span{
    display: inline-block;
    min-width: 32px;
    height: 32px;
    filter: var(--success-color-filter);
    background: no-repeat center/80% url(/src/res/qr-code.png);
}

















