.scane-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scane-info #language{
    padding: 0;
    max-width: 100px;
    margin-left: auto;
}
.scane-info h2{
    margin-top: 25px;
    margin-bottom: 5px;
}

.scane-info.owner{
    overflow-y: auto;
    overflow-x: hidden;
}

.scane-info .ctn{
    height: initial;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    box-shadow: #3333 0px 0px 10px;
    padding: 20px;
    border-radius: 20px;
}

.scane-info .title{
    display: flex;
    align-items: center;
}


.scane-info .qr{
    display: flex;
    max-width: 120px;
}

.scane-info ._flex{
    gap: 20px;
    margin: 20px 0;
}


.scane-info .t span{
    color: var(--color);
}
.scane-info .t{
    color: var(--discret);
}

.soscial{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

.soscial div:hover{
    background: #3452;
}
.soscial div{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    background: #3451;
    border-radius: 10px;
}


.soscial div span{
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    height: 20px;
}
.soscial div.call span{
    background: no-repeat center/cover url(/src/res/phone.png);
}
.soscial div.whatsapp span{
    background: no-repeat center/cover url(/src/res/social/whatsapp.png);
}
.soscial div.telegram span{
    background: no-repeat center/cover url(/src/res/social/telegram.png);
}

.scane-info .animal-info .image {
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: 10px;
}
.scane-info .animal-info{
    align-items: start;
}

#map{
    width: 100%;
    height: 300px;
}

.scane-info .edit{
    display: inline-flex;
    gap: 10px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px 5px 5px;
    cursor: pointer;
    color: var(--success-color);
    background: var(--success);
}

.scane-info .edit span{
    display: inline-block;
    min-width: 32px;
    height: 32px;
    filter: var(--success-color-filter);
    background: no-repeat center/80% url(/src/res/write.png);
}




 .scane-info .lits-codes{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: #3333 0px 0px 10px ;
}



.scane-info .lits-codes .title h2{
    margin: 0;
}
.scane-info .lits-codes .title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.scane-info .lits-codes .title .add-new:hover{
    opacity: 0.8;
}

.scane-info .lits-codes .title .add-new{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--success-color);
    background: var(--success);
}

.scane-info .lits-codes .title .add-new span{
    display: inline-block;
    min-width: 32px;
    height: 32px;
    filter: var(--success-color-filter);
    background: no-repeat center/80% url(/src/res/qr-code.png);
}






