.center {
    width: calc(100%);
    height: 100%;
    border: 1px #0001 solid;
    padding-right: 0;
}

.center .center-top-bar{
    display: flex;
    align-items: center;
}
.center h2{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-top: 30px;
}

.center h2 .add:hover{
    background: rgba(var(--impact-var), 0.7);
}
.center h2 .add{
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(var(--impact-var), 0.6);
    color: var(--impact-color);
    padding-right: 10px;
    border-radius: 5px;
}
.center h2 span{
    display: inline-flex;
    width: 32px;
    height: 32px;
    filter: var(--impact-color-filter);
    background: no-repeat center/80% url(/src/res/plus.png);
}

.center-top-bar{
    margin-bottom: 20px;
}
.center .account-options:hover ,.center .account-icon:hover{
    transition: 200ms;
    background-size: 75%;
}
.center .account-options ,.center .account-icon{
    display: inline-block;
    transition: 200ms;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: no-repeat center/70% url(/src/res/user-empty.png) , #0001;
}

.center .account-options{
    background: no-repeat center/70% url(/src/res/align-left.png) , #0001;
}
.center .list-codes {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;

    padding-bottom: 200px;
}


.center .list {
    width: 100%;
    padding: 25px;
    padding-right: 320px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.center .list .new:hover {
    background: rgba(var(--impact-var), 0.8);
}

.center .list .new {
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    border-radius: 50%;
    background: rgba(var(--impact-var), 0.6);
    box-shadow: 0px 0px 15px -4px rgba(66, 68, 90, 1);
}

.center .list .new span {
    display: block;
    width: 100%;
    height: 100%;
    filter: var(--impact-color-filter);
    background: no-repeat center/80% url(/src/res/plus.png);
}

.center .code:hover {
    scale: 1.05;
}


.center .list-column {
    width: 100%;
}

.center .list-column .animal:hover {
    scale: 1.01;
}

.center .list-column .animal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -15px rgba(66, 68, 90, 1);
}

.center .animal .image {
    height: 140px;
    width: 140px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px -10px rgba(66, 68, 90, 1);
}

.center .animal .right {
    display: flex;
    width: calc(100% - 140px);
    flex-wrap: wrap;
    min-width: 200px;
    padding: 0 20px;
}

.center .animal .right .text div {
    color: var(--discret);
}

.center .animal .right .animal-scane div {
    color: var(--discret);
    font-size: 0.9em;
}

.center .animal .animal-scane {
    margin-left: auto;
}


@media (width < 395px) {
    .center .animal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .center .animal .image {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        border-radius: 20px;
        box-shadow: 0px 0px 30px -10px rgba(66, 68, 90, 1);
    }
    .center .animal .animal-scane {
        margin-left:initial;
    }
    
}

.not-scane{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    padding: 20px;
    border-radius: 20px;
    text-transform: capitalize;
    height: 260px;
    background: rgba(var(--discret-var), 0.1);
}


.not-animal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-transform: capitalize;
    background: rgba(var(--discret-var), 0.1);
}
.not-code{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 140px;
    height: 120px;
    padding: 20px;
    border-radius: 20px;
    text-transform: capitalize;
    background: rgba(var(--discret-var), 0.1);
}